.App {
  text-align: center;
  margin: none;
  padding: none;



}


.TaskBoard {
  margin: 0;
  background-color: white;
  padding-top: 170px;
  /* background: red; */

  /* margin-top: 50px; */
}


ul {
  margin: auto;
  display: inline-block;
  align-items: center;
  /* justify-content: center; */
  width: 500px;
  margin-top: 0;
  /* list-style-type: none; */
}

li {
  display: list-item;
  text-align: start;
  font-size: 18px;
  max-width: 750px;
  padding: 10px;
  margin-bottom: 15px;
  /* padding-left: 15%; */
  color: #414141;
  background: #D6F5FF;
  border-radius: 18px;
}


li:nth-child(odd) {
  color: white;
  background: #35CFFF;
}



li:hover {
  filter: brightness(85%);
  width: 510px;
}

button {
  float: right;
}


.SearchBar:focus {
  outline-width: 0;
}

.SearchBar {
  /* background: purple; */
  margin-left: 0;
  margin-top: 10px;
  font-size: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #6EDAFD;
  color: #414141;
}

.SearchBarContainer {
  height: 150px;
  position: fixed;
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */
}

h1 {
  margin-top: 10px;
  color: #35CFFF
}

p {
  color: #35CFFF;
  font-size: 20px;
}

img {
  /* background: purple; */
}
.DeleteButton {
  position: relative;
  margin: 0;
  padding: 0;
  top: 50%;
  width: 18px;
  float: right;
  filter: brightness(10%);
}

li:nth-child(odd) > .DeleteButton{
  filter: brightness(100%);
}
