.App {
  text-align: center;
  margin: none;
  padding: none;



}

.Logo {
  width: 40px;
  /* display: flex; */
  position: inline-block;
  margin-left: 5px;
  margin-top: 10px;
  /* background: red; */
}
h1 {
  display: inline-block;
  margin-top: 10px;
  color: #35CFFF
}

.LogoContainer{
  width: 100%;
  /* background: red; */
}
.TaskBoard {
  margin: 0;
  background-color: white;
  padding-top: 170px;
  /* background: red; */

  /* margin-top: 50px; */
}


ul {
  margin: auto;
  display: block;
  align-items: center;
  /* justify-content: center; */
  width: 500px;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 100px;
  /* list-style-type: none; */
}

li {
  display: list-item;
  text-align: start;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
  /* padding-left: 15%; */
  color: #414141;
  background: #D6F5FF;
  border-radius: 18px;
}

.CompletedTask {
  text-decoration: line-through;
  max-width: 750px;
  /* z-index: 5; */
  /* filter: brightness(70%); */

}
li:nth-child(odd) {
  color: white;
  background: #35CFFF;
}



li:hover {
  filter: brightness(85%);
  /* width: 510px; */
}

button {
  float: right;
}


.SearchBar:focus {
  outline-width: 0;
}

.SearchBar {
  /* background: purple; */
  margin-left: 0;
  margin-top: 10px;
  font-size: 30px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #6EDAFD;
  color: #414141;
}

.SearchBarContainer {
  z-index: 50;
  height: 150px;
  position: fixed;
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  /* background: red; */
  /* margin-left: auto;
  margin-right: auto; */
}



p {
  color: #35CFFF;
  font-size: 20px;
}

img {
  /* background: purple; */
}
.DeleteButton {
  position: relative;
  margin: 0;
  /* margin-top: 5px; */
  margin-right: 5px;
  padding: 0;
  top: 50%;
  width: 25px;
  float: right;
  /* filter: brightness(30%); */
  filter: brightness(100%);

}

.RepoContainer {

  /* background: red; */
  background: white;
  width: 100%;
  bottom: 0px;
  position: fixed;
  /* background: red; */
}

.RepoLogo {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75px;
}

li:nth-child(odd) > .DeleteButton{
  filter: brightness(100%);
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 400px){
  ul {
    width: 250px;
    max-width: 250px;

  }

  .SearchBar {
    font-size: 20px;
  }
}
